/* Estilo global */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  padding-top: 20px;
}

ion-header {
  background-color: #003B5C;
  color: white;
}

ion-toolbar {
  --background: #003B5C;
}

ion-title {
  color: white;
}

/* Formulario */
form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Campo de entrada */
ion-item {
  margin-bottom: 15px;
}

ion-label {
  font-weight: bold;
  color: #003B5C;
}

ion-input, ion-select {
  background-color: #F9C80E;
  color: #003B5C;
}

ion-input:focus, ion-select:focus {
  border-color: #C8102E;
}

/* Mensajes de error */
ion-text {
  font-size: 0.9em;
  color: #C8102E;
  margin-top: 5px;
}

/* Botón de enviar */
ion-button {
  background-color: #C8102E;
  color: white;
  font-weight: bold;
  --border-radius: 5px;
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 12px;
  --padding-bottom: 12px;
}

ion-button:disabled {
  background-color: #e0e0e0;
}

ion-button:hover {
  background-color: #9b0f22;
}

/* Estilo para la lista de postulaciones */
ion-list-header {
  background-color: #003B5C;
  color: white;
  padding: 10px;
  text-align: center;
}

ion-item {
  margin-bottom: 10px;
  background-color: #F9C80E;
  border-radius: 10px;
}

ion-label {
  color: #003B5C;
  font-size: 1.1em;
}

ion-label p {
  font-size: 0.9em;
  color: #003B5C;
}

ion-list {
  margin-top: 20px;
}
